<div class="container mb-4">
    <markdown [src]="'app/demo/demo-markdown/feature.md'">
    </markdown>
    <hr>

    <h3>DEMO</h3>
    <div class="container">
        <h5>

        </h5>

        <div class="row">
            <markdown ngPreserveWhitespaces>
                ##### Commonly Used
                A way directly applied to specific DOM `/<input />` elements.
            </markdown>
            <form class="container border p-2">
                <div class="row">

                    <div class="col">
                        <label>Code in HTML DOM Template:</label>
                        <pre class="language-javascript">{{demo1Code}}</pre>
                    </div>

                </div>
                <div class="row mt-2">
                    <div class="col input-group input-group-sm">
                        <label class="input-group-text">Locale</label>
                        <select class="form-select form-select-sm" name="locale" [(ngModel)]="demo1Locale"
                            (change)="updateDemo1($event)">
                            <option value="en-US" selected>en-US</option>
                            <option value="de-DE">de-DE</option>
                        </select>
                    </div>

                    <div class="col input-group input-group-sm">
                        <span class="input-group-text">scale</span>
                        <input type="text" class="form-control" name="demo1Scale" [(ngModel)]="demo1Scale">
                    </div>
                </div>
            </form>
        </div>
        <div class="row align-items-center mt-2">
            <div class="col">
                <div class="input-group input-group-sm" *ngIf="updControl">
                    <span class="input-group-text" id="inputGroup-sizing-sm">demo1</span>
                    <input type="text" class="form-control" #demoInput currencyMask [(ngModel)]="demo1"
                        [locale]="demo1Locale" [scale]="demo1Scale" max="999">
                </div>

                <div class="input-group input-group-sm" *ngIf="!updControl">
                    <span class="input-group-text" id="inputGroup-sizing-sm">demo1</span>
                    <input type="text" class="form-control" #demoInput currencyMask [(ngModel)]="demo1"
                        [locale]="demo1Locale" [scale]="demo1Scale">
                </div>
            </div>
            <div class="col">
                <pre class="language-javascript">demo1: {{demo1}}</pre>
            </div>
        </div>

        <div class="row mt-2">
            <markdown ngPreserveWhitespaces>
                ##### Global Setting
                A way that only need to configure once and take effect across the entire project.
            </markdown>
        </div>

        <div class="row mt-2">
            <form class="container border p-2">
                <div class="row">

                    <div class="col">
                        <label>Code in Moudles:</label>
                        <markdown [src]="'app/demo/demo-markdown/demo-global-module-code.md'">

                        </markdown>

                        <label>Code in HTML:</label>
                        <markdown [src]="'app/demo/demo-markdown/demo-global-html-code.md'">

                        </markdown>
                    </div>

                </div>

            </form>
        </div>

        <div class="row align-items-center mt-2">
            <div class="col">
                <div class="row mt-2">
                    <div class="col input-group input-group-sm">
                        <label class="input-group-text">demo2.1</label>
                        <input type="text" class="form-control" #demoInput currencyMask [(ngModel)]="demo21">
                    </div>
                    <div class="col input-group input-group-sm">
                        <label class="input-group-text">demo2.2</label>
                        <input type="text" class="form-control" #demoInput currencyMask [(ngModel)]="demo22">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>